<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>19-v-model-select</title>
</head>
<body>
    <div id="app">
        <select name="" id="" v-model="telFirst">
            <option disabled value="" >선택하세요</option>
            <option value="010">010</option>
            <option value="011">011</option>
            <option value="016">016</option>
        </select>
        -
        <input type="text" v-model="tel2">
        -
        <input type="text" v-model="tel3">
        <hr>
        <p>전화번호 : {{telFirst}} - {{tel2}} - {{tel3}}</p>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        new Vue({
            el:"#app",
            data:{
                telFirst:"000",
                tel2:"0000",
                tel3:"0000"
            }
        })
    </script>
</body>
</html>