<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>26-v-on-키보드이벤트</title>
</head>
<body>
    <div id="app">
        <input type="text" @keydown.enter="addAni" v-model="animal">
        <ul>
            <li v-for="ani in animals">{{ani}}</li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        new Vue({
            el:"#app",
            data:{
                animal:null,
                animals:["호랑","고양","강아"]
            },
            methods:{
                addAni:function(){
                    if(this.animal){
                        this.animals.push(this.animal);
                        this.animal=null;
                    }
                }
            }
        })
    </script>
</body>
</html>